<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <form action='/delete' method="post">
        <label><a href="<%= bookmark[0] %>"><%= bookmark[1] %></a></label>
        <button name="link_to_delete" type="submit" value="<%= bookmark[1] %>">x</button>
      </form>
    </li>
  <% end %>
</ul>


<form action='/add' method='post'>
    <input type="text" name="url" require="required"/>
    <input type="text" name="title" require="required"/>
    <input type="submit" value="Add"/>
</form>
