<form action='/users' method='post'>
    <input type="text" name="email" required="required" placeholder="email address"/>
    <input type="text" name="password" required="required" placeholder="password"/>
    <input type="submit" value="Submit"/>
</form>

<form action='/sessions/new' method='get'>
    <label>Are you an existing user?</label>
    <input type="submit" value="Sign in!"/>
</form>
